.add-player-list-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  flex-direction: column;

  .add-player-list {
    .list {
      width: 100%;
    }
  }

  .start-game {
    margin: 50px;
  }
}
