<div class="card">
  <div class="name">{{ player.name }}</div>

  <mat-form-field class="list" appearance="fill">
    <mat-chip-list #chipList aria-label="players list">
      <mat-chip *ngFor="let score of player.scores" (removed)="remove(score)">
        {{ score }}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input
        type="number"
        placeholder="Add score..."
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="true"
        (matChipInputTokenEnd)="add($event)"
      />
    </mat-chip-list>
  </mat-form-field>

  <div class="total">
    <span>Total: {{ total }}</span>
  </div>
</div>
