/* You can add global styles to this file, and also import other style files */
@use "sass:map";
@import "~@angular/material/theming";

@include mat-core();
// @debug map.get($mat-purple, 700);
html,
body {
  background-color: #323232;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: white;
  box-sizing: content-box;
  padding: 20px;
  max-width: 640px;
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
}
